.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  background-color: rgba($color: #fff, $alpha: 0.1);
  padding: 10px;
  height: 30px;
}

a {
  text-decoration: underline;
}

